<!-- views/admin/classes/index.ejs -->
<div class="" data-controller="classes" data-action="index">
    <h2 class="fw-bold">Classes</h2>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div data-target="classes.classesList">
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- Add class card here -->
    </div>
</div>