<div class="container py-4" data-controller="user_management" data-action="edit">

    <h2 class="fw-bold mb-4">Edit User</h2>

    <div class="card shadow-sm border-0">
        <div class="card-body">

            <form data-target="user_management.form">

                <input class="form-control mb-3" data-target="user_management.fullName">
                <input class="form-control mb-3" data-target="user_management.email">
                <input class="form-control mb-3" data-target="user_management.phone">

                <button class="btn btn-success w-100">
                    Update
                </button>

            </form>

        </div>
    </div>

</div>