<div class="container py-5" data-controller="forgotPassword">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5 animate__animated animate__fadeInLeft">
            <div class="card border-0 shadow-lg rounded-4">
                <div class="card-body p-5">
                    <div class="text-center mb-4">
                        <i class="bi bi-key display-3 text-primary"></i>
                        <h2 class="fw-bold mt-2">Forgot Password?</h2>
                        <p class="text-secondary">Enter your email to reset your password</p>
                    </div>
                     <form data-controller="forgotPassword" data-action="submit->forgotPassword#submit" action="/api/v1/auth/forgot-password" method="POST">
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" class="form-control form-control-lg" data-target="forgotPassword.email" placeholder="name@example.com" id="email" required>
                        </div>
                        <div class="alert alert-danger d-none" data-target="forgotPassword.forgotPasswordError" id="forgotPasswordError"></div>
                        <button type="submit" class="btn btn-primary btn-lg w-100 rounded-pill">Reset Password <i
                                class="bi bi-arrow-right-short"></i></button>
                    </form>
                    <div class="text-center mt-4">
                        <span>Remember your password? <a href="/login" class="fw-bold">Login</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>